@model Dovid.Models.Train
@{ ViewBag.Title = Resources.Resource.TrAdd;
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="content">
        @Html.ValidationSummary(false)
        <Form method="post" action="">
            <Table>
                <Tr>
                    <td> <p> @Resources.Resource.SPos: </p> </td>
                    <Td>
                        @Html.EditorFor(model => model.SPos)
                    </Td>
                </Tr>
                <Tr>
                    <td> <p> @Resources.Resource.FPos: </p> </td>
                    <td>
                        @Html.EditorFor(model => model.FPos)
                    </td>
                </Tr>
                <Tr>
                    <td> <p> @Resources.Resource.STime: </p> </td>
                    <td>
                        @Html.EditorFor(model => model.STime)
                    </td>
                </Tr>
                <Tr>
                    <td> <p> @Resources.Resource.FTime: </p> </td>
                    <td>
                        @Html.EditorFor(model => model.FTime)
                    </td>
                </Tr>
                <Tr>
                    <td> <p> @Resources.Resource.VCount: </p> </td>
                    <td>
                        @Html.EditorFor(model => model.VCount)
                    </td>
                </Tr>
                <Tr>
                    <td> <p> @Resources.Resource.Price: </p> </td>
                    <td>
                        @Html.EditorFor(model => model.Price)
                    </td>
                </Tr>
                <Tr>
                    <td> <input type="submit" value="@Resources.Resource.Add" onclick="add()" /> </td>
                </Tr>
            </Table>
        </Form>
    </div>
</body>
</html>
