@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Dovid.Models.Train
<h2>@Resources.Resource.Trdelete</h2>
<dl>
    <dt>@Resources.Resource.SPos</dt>
    <dd>
        @Html.DisplayFor(model => model.SPos)
    </dd>

    <dt>@Resources.Resource.FPos</dt>
    <dd>
        @Html.DisplayFor(model => model.FPos)
    </dd>

    <dt>@Resources.Resource.STime</dt>
    <dd>
        @Html.DisplayFor(model => model.STime)
    </dd>

    <dt>@Resources.Resource.FTime</dt>
    <dd>
        @Html.DisplayFor(model => model.FTime)
    </dd>

    <dt>@Resources.Resource.VCount</dt>
    <dd>
        @Html.DisplayFor(model => model.VCount)
    </dd>

    <dt>@Resources.Resource.Price</dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value=@Resources.Resource.Delete />
}