@{
    ViewBag.Title = Resources.Resource.Dovid;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h3>@Resources.Resource.Rozp</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><p>@Resources.Resource.Ntrain</p></th>
                    <th scope="col"><p>@Resources.Resource.STime</p></th>
                    <th scope="col"><p>@Resources.Resource.FTime</p></th>
                    <th scope="col"><p>@Resources.Resource.SPos</p></th>
                    <th scope="col"><p>@Resources.Resource.FPos</p></th>
                    <th scope="col"><p>@Resources.Resource.VCount</p></th>
                    <th scope="col"><p>@Resources.Resource.Price</p></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in ViewBag.Trains)
                {
                    <tr>
                        <th scope="row"><p>@t.Id</p></th>
                        <td><p>@t.STime</p></td>
                        <td><p>@t.FTime</p></td>
                        <td><p>@t.SPos</p></td>
                        <td><p>@t.FPos</p></td>
                        <td><p>@t.VCount</p></td>
                        <td><p>@t.Price</p></td>
                        <td><p><a href="/Ticket/Buy/@t.Id">@Resources.Resource.BuyTicket</a></p></td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <td><p><a href="/Home/Edit/@t.Id">@Resources.Resource.Edit</a></p></td>
                            <td><p><a href="/Home/Delete/@t.Id">@Resources.Resource.Delete</a></p></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>


